html {
    scroll-behavior: smooth; /* This should really be the default option. It's so much better */
    overflow-x: hidden;
}

/* Main font stylings */
h2 {
    font-size: 72px;
    color: aquamarine;
    font-weight: 600;
}
h3 {
    font-size: 56px;
    color: rgb(232, 232, 232);
    font-weight: 600;
}
p {
    font-size: 24px;
    font-weight: 500;
    line-height: 175%;
}

/* Major classes */
.section {
    padding-left: 260px;
    padding-right: 260px;
    padding-top: 40px;
    font-family: 'Raleway', sans-serif;
}

/* Special font stylings */
.header {
    padding-bottom: 40px;
}
.subheader {
    padding-top: 30px;
    padding-bottom: 30px;
    color: salmon;
}

/* Specific section stylings */

/* Skills */
.skill-row {
    height: 300px;
}
.skills {
    background-color: aquamarine;
    vertical-align: center;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    transition: 0.4s;
    height: 200px;
    padding-top: 16px;
}
.skills:hover {
    opacity: 0.6;
}
.skill-text {
    font-size: 32px;
    font-weight: 600;
}

/* Portfolio */

/* Custom padding for portfolio section */
#portfolio-section {
    padding-left: 200px;
    padding-right: 200px;
}
#portfolio-header {
    padding-left: 60px;
}

/* Project Tiles */
.project {
    /* background-image: url('./project-icon.png'); */
    /* height: 500px; */
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    color: salmon;
    transition: 0.5s;
}
.project:hover {
    background-color: white;
    color: black;
}
.project:hover .source-link {
    background-color: darksalmon;
    color: white;
}


.project-title {
    font-size: 256px;
}
.project-row {
    justify-content: space-between;
}
.project-link {
    background-color: white;
    border-radius: 10px;
}
.source-link {
    background-color: white;
    border-radius: 10px;
    color: black;
}

/* Contacts */
.icon-side {
    align-items:center;
}
.contacts {
    text-align: center;
    transition: 0.6s;
    border-radius: 10px;
    margin-bottom: 64px;
    padding-top: 10px;
}
.contacts:hover {
    background-color: salmon;
}
.link {
    text-decoration: none !important;
}


/* Divder rows */
.blank {
    height: 100px;
}
/* .edge {
    background-image: url('./waves.gif');
}
.edge2 {
    background-image: url('./giphy.gif')
} */

/* Typewriter Button(formerly view source code button lol) */
.source {
    padding: 40px;
    background-color: aquamarine; 
    border-radius: 10px;
    transition: 0.4s;
}
.source:hover {
    background-image: url('./aquacircle.gif'); /* Pretty lights on hover */
    background-position: center;
    opacity: 0.8;
}
#typed {
    color: black;
}
.source:hover #typed {
    color: white;
}

.footer-col {
    padding-top: 20px;
}
.footer-text {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 28px;
}

/* Sidebar */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
#mySidebar {
    width: 40px;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 52px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: purple;
}

#closedSidebar {
    height: 100%; /* Full height */
    width: 50px;  /* width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: auto; /* No scroll */
    transition: 0.5s;
    color: black;
    text-align: center;
    font-size: 38px;
    padding-top: 10px;
    background-color: salmon; /* To give you that warm, Miami in the 80's feel */
}

/* Main section */
#main {
    transition: margin-left .5s; /* Sidebar transition */
    overflow-x: hidden; /* No Scroll */
    margin-left: 40px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
#about-text {
    width: 860px; /* Don't want to wear out people's eyes */
}

#head2 {
    line-height: 130%; /* The main headline was looking kinda squished. */
}